{% extends "layout.njk" %}

{% block content %}
    <section class="banner">
        <div class="banner-text">
            <h1 class="banner-text__title">
                As melhores receitas
            </h1>
            <p class="banner-text__desc">
                Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
            </p>
        </div>
        <div class="banner__image">
            <img src="/assets/chef.png" alt="Foodfy Chefs">
        </div>
    </section>
    <section class="home-recipes">
        <h1 class="home-recipes__title">
            Mais acessadas
        </h1>
        <div class="home-recipes__grid">
            {% for item in range(0, 6) %}
                <div class="recipe__card">
                    <div class="recipe__image">
                        <img src="{{ items[item].image }}" alt="Recipe {{ items[item].title }}">
                    </div>
                    <h2 class="recipe__title">{{ items[item].title }}</h2>
                    <p class="recipe__desc">
                        por
                        {{ items[item].author }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="/scripts/cards.js"></script>
{% endblock %}