{% extends "layout.njk" %}

{% block title %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}
    <section class="recipes">
        <div class="recipes__grid">
            {% for item in items %}
                <div class="recipe__card">
                    <div class="recipe__image">
                        <img src="{{ item.image }}" alt="Recipe {{ item.title }}">
                    </div>
                    <h2 class="recipe__title">{{ item.title }}</h2>
                    <p class="recipe__desc">
                        por
                        {{ item.author }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="/scripts/cards.js"></script>
{% endblock %}