@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "fontawesome.css";
@import "reset.css";
@import "dark-mode.css";
@import "navbar.css";
@import "footer.css";
@import "sections.css";
@import "card.css";
:root {
    --highlight: hsl(5, 80%, 92%);
    --default: hsl(0, 0%, 7%);
    --default-40: hsl(0, 0%, 40%);
    --default-60: hsl(0, 0%, 60%);
    --default-80: hsl(0, 0%, 80%);
    --default-100: hsl(0, 0%, 100%);
    --xs: 4px;
    --sm: 8px;
    --md: 16px;
    --lg: 24px;
    --xl: 32px;
    --wrapper: 940px;
}

body {
    background: var(--default-100);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.content {
    margin: 0 auto;
    max-width: var(--wrapper);
    justify-content: space-between;
}