.recipes {
    margin: 0 0 calc(var(--xl) * 2) 0;
}

.recipes__grid {
    display: grid;
    gap: var(--lg);
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

@media (max-width: 1000px) {
    .recipes {
        margin: 0 var(--lg) calc(var(--xl) * 2) var(--lg);
    }
}