.recipe__section,
.recipe__header {
    margin: 0 0 calc(var(--xl) * 1.5) 0;
}

.recipe__section:last-of-type,
.recipe__section--header:last-of-type {
    margin: 0 0 calc(var(--xl) * 2) 0;
}

.recipe__banner img {
    border-radius: var(--sm);
    height: 280px;
    object-fit: cover;
    width: 100%;
}

.recipe__infos {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--xl) 0 calc(var(--xl) * 2) 0;
    text-align: center;
}

.recipe__infos--title {
    font-size: var(--xl);
    font-weight: bold;
}

.recipe__infos--desc {
    color: var(--default-40);
    font-size: calc(var(--lg) / 1.1);
    margin: var(--sm) 0 0 0;
}

.recipe__section--header {
    display: flex;
    align-items: center;
}

.recipe__section--title {
    color: var(--default);
    font-size: var(--lg);
    font-weight: 700;
}

.recipe__section--button {
    border: 1px solid var(--default-80);
    border-radius: var(--xs);
    color: var(--default-60);
    cursor: pointer;
    font-size: calc(var(--sm) * 1.2);
    font-weight: bold;
    margin: 0 0 0 var(--md);
    padding: var(--sm);
    text-transform: uppercase;
}

.recipe__section--text.recipe__section--hide {
    display: none;
}

.recipe__section--text {
    color: var(--default-40);
    font-size: var(--md);
    line-height: 1.5;
    margin: var(--md) 0;
}

.recipe__list--ol {
    counter-reset: li;
}

.recipe__list--item,
.recipe__list--step {
    color: var(--default-40);
    display: flex;
    align-items: center;
    font-size: var(--md);
    line-height: 1.2;
    margin: var(--sm) 0;
}

.recipe__list--step {
    counter-increment: li;
    margin: var(--md) 0;
}

.recipe__list--item::before,
.recipe__list--step::before {
    content: "\2022";
    color: var(--default);
    font-size: var(--lg);
    font-weight: bold;
    margin: 0 var(--sm) 0 0;
}

.recipe__list--step::before {
    content: counter(li);
    font-size: var(--md);
}

@media (max-width: 1000px) {
    .recipe__section--header {
        margin: 0 var(--lg) var(--xl) var(--lg);
    }
    .recipe__section {
        margin: 0 var(--lg) var(--xl) var(--lg);
    }
    .recipe__section:last-of-type {
        margin: 0 var(--lg) calc(var(--xl) * 2) var(--lg);
    }
    .recipe__section--header {
        flex-direction: column;
    }
    .recipe__section--button {
        margin: var(--md);
    }
}